@model CreateUpdateUserSensorViewModel

@{
	string descriptionSize = Model.IsSwitch ? "col-md-9" : "col-md-3";
}

<form id="sensor-form" asp-area="" asp-controller="UserSensor" asp-action="Edit" method="post">
	<div id="validation-message-alert" hidden class="alert alert-danger alert-dismissible" asp-validation-summary="All">
		<h5><i class="icon fas fa-ban"></i> Error!</h5>
	</div>

	<input asp-for="Id" hidden value="@Model.Id" readonly />
	<input asp-for="SensorId" hidden value="@Model.SensorId" readonly />
	<input asp-for="UserId" hidden value="@Model.UserId" readonly />
	<input asp-for="MeasureType" hidden value="@Model.MeasureType" readonly />
	<input asp-for="MeasureUnit" hidden value="@Model.MeasureUnit" readonly />
	<input asp-for="SensorMinRangeValue" hidden value="@Model.SensorMinRangeValue" readonly />
	<input asp-for="SensorMaxRangeValue" hidden value="@Model.SensorMaxRangeValue" readonly />
	<input asp-for="SensorPollingInterval" hidden value="@Model.SensorPollingInterval" readonly />

	<div class="row">
		<div class="col-md-2">
			<label>Sensor Name</label>
			<div class="input-group mb-3 form-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fas fa-file-signature"></i></span>
				</div>
				<input type="text" asp-for="Name" class="form-control" placeholder="Enter name...">
			</div>
		</div>

		<div class="col-md-4">
			<label>Sensor Measure Type - Measure Unit</label>
			<div class="input-group mb-3 form-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fas fa-indent"></i></span>
				</div>
				<input type="text" class="form-control" value="@Model.MeasureType - @Model.MeasureUnit" disabled>
			</div>
		</div>
		<div class="col-md-2">
			<label asp-for="Longitude"></label>
			<div class="input-group form-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fa fa-map-marker"></i></span>
				</div>
				<input asp-for="Longitude" value="@Model.Longitude" class="form-control" readonly />
			</div>
		</div>
		<div class="col-md-2">
			<label asp-for="Latitude"></label>
			<div class="input-group form-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fa fa-map-marker"></i></span>
				</div>
				<input asp-for="Latitude" value="@Model.Latitude" class="form-control" readonly />
			</div>
		</div>
		<input hidden disabled id="TempIsPublic" value="@Model.IsPublic" />
		<div class="col-md-1">
			<label>Public</label>
			<input asp-for="IsPublic" type="checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success">
		</div>
		@if (!Model.IsSwitch)
		{
			<input hidden disabled id="TempIsAlarmOn" value="@Model.IsAlarmOn" />
			<div class="col-md-1">
				<label>Alarm</label>
				<input asp-for="IsAlarmOn" type="checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success">
			</div>
		}
	</div>

	<div class="row">
		<div class="@descriptionSize">
			<div class="form-group">
				<label>Sensor Description</label>
				<textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter description..."></textarea>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group" id="polling-interval-picker">
				<label>Sensor Polling Interval</label>
				<input asp-for="CustomPollingInterval" value="@Model.CustomPollingInterval" hidden disabled class="form-control">
			</div>
		</div>
		@if (!Model.IsSwitch)
		{
			<div class="col-md-3">
				<div class="form-group" id="min-range-picker" @(Model.IsAlarmOn ? string.Empty : "hidden")>
					<label>Sensor Min Range</label>
					<input asp-for="CustomMinRangeValue" value="@Model.CustomMinRangeValue" hidden class="form-control">
					<span id="min-range-validation-message" hidden style="color:red"></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" id="max-range-picker" @(Model.IsAlarmOn ? string.Empty : "hidden")>
					<label>Sensor Max Range</label>
					<input asp-for="CustomMaxRangeValue" value="@Model.CustomMaxRangeValue" hidden class="form-control">
					<span id="max-range-validation-message" hidden style="color:red"></span>
				</div>
			</div>
		}
	</div>
	<hr />
	@*Google Maps*@
	<div class="col-md-12">
		<div class="card card-primary card-outline collapsed-card">
			<div class="card-header">
				<h3 class="card-title">Choose sensor coordinates</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
					<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
				</div>
				<!-- /.card-tools -->
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<div id="sensor-map"></div>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
	<button id="submit-button" type="submit" class="btn btn-block btn-outline-success"><strong>UPDATE</strong></button>
</form>

@section Scripts
{
	<script src="~/lib/AdminLTE/custom/bootstrap-switch-state-changer.js"></script>
	<script src="~/lib/AdminLTE/custom/sensor-range-picker.js"></script>
	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVyS3NJhTM9WQKFDOkEkzlds-fU_HsuMM&callback=initMap">
	</script>
	<script src="~/lib/AdminLTE/custom/create-update-map.js"></script>
	<script src="~/lib/AdminLTE/custom/sensor-submit-form-validate.js"></script>
}